@model jautomulti.Models.Reparacoes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reparacoes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carro.Matricula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListaProfissionaisNaReparacao)
        </dt>
        <dd class="col-sm-10">
            @foreach (var profissional in Model.ListaProfissionaisNaReparacao)
            {
                <div>@Html.DisplayFor(_ => profissional)</div>
            }
        </dd>

    </dl>
</div>
<div>
    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="btn btn-outline-primary" asp-action="Index">Voltar à Lista de Reparações</a>
</div>
