@model IEnumerable<jautomulti.Models.Profissionais>

@{
   
    
    ViewData["Title"] = "Index";
}

<h1>Tabela dos Funcionários da Oficina</h1>

@*
    <p>
        <a class="btn btn-outline-success" asp-action="Create">Criar Novo Funcionario</a>
    </p>
*@
<p>
    <a class="btn btn-outline-success" asp-page="/Account/Register" asp-area="Identity">Criar Novo Funcionario</a>
</p>

<table class="table table-hover table-striped">
   
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alcunha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telemovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especializacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alcunha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telemovel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especializacao)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-outline-warning" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>

</table>
